@font-face {
  font-family: "Cera Pro";
  src: url("fonts/CeraPro-Regular.eot");
  src: local("fonts/Cera Pro Regular"), local("CeraPro-Regular"), url("fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPro-Regular.woff") format("woff"), url("fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

main {
  min-height: calc(100vh - 60px); }

body {
  background: #0c0c0c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center; }

canvas {
  position: absolute;
  height: 475px;
  width: 720px; }

* {
  box-sizing: border-box;
  font-family: "Cera Pro", "Helvetica", "Segoe UI", Tahoma, Verdana, sans-serif; }

hr.line {
  width: 1100px;
  border-top: 2px solid #2b60de;
  opacity: 0.2;
  margin-bottom: 20px; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #070707; }

li {
  float: right; }

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.07em;
  transition: all 0.3s ease-out; }
  li a.contact {
    margin-left: -5px; }

li a:hover {
  text-decoration: underline; }

.nav-btn {
  margin: 8px 100px 0px 0px; }

.nav-logo {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: -4px;
  margin-left: 100px; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  text-align: center; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 400; }
  h1.md-heading,
  h2.md-heading,
  h3.md-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 250; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 250; }
  h1.exsm-heading,
  h2.exsm-heading,
  h3.exsm-heading {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 250; }

.sect {
  padding-top: 100px; }

.space {
  margin-bottom: 400px; }

.about-title {
  margin-top: 150px; }

.content {
  width: 500px;
  margin: auto;
  line-height: 35px;
  font-size: 18px;
  font-weight: 200; }

.learn-btn {
  text-decoration: none; }

.learn-more {
  display: flex;
  justify-content: center;
  background-color: #0c0c0c;
  border-color: transparent;
  color: #ffffff;
  font-size: 17px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  width: 200px;
  padding: 8px 10px;
  margin: 20px auto; }
  .learn-more:hover {
    background-color: #52658f;
    cursor: pointer; }

#demo.sect {
  height: 660px; }

.camera {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center; }

#contact h2 {
  margin-top: 20px; }

form {
  text-align: center;
  transition: all 2s ease-in-out; }

.form-control {
  width: 600px;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 250;
  padding: 5px; }

input {
  height: 45px; }

form .submit {
  background-color: #0c0c0c;
  border-color: transparent;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 200px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  width: 200px; }
  form .submit:hover {
    background-color: #52658f;
    cursor: pointer; }

footer {
  text-align: center;
  background-color: #070707;
  font-size: 14px;
  padding: 1rem;
  color: #ffffff;
  height: 60px; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    background-color: #0c0c0c;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #ffffff; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #2b60de;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; } }

@media screen and (max-width: 768px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    background-color: #0c0c0c;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #ffffff; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #2b60de;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    background-color: #0c0c0c;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #ffffff; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 1; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #2b60de;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; } }
